// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

//others
@import "anchor";

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbbda4;
}
::-webkit-scrollbar-thumb:hover {
  background: #b8a383;
}

* {
  scrollbar-width: inherit;
  scrollbar-color: #b8a383 #f1f1f1;
}

/* Custom Scrollbar Styles for Dark mode */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: #181818;
  }
  ::-webkit-scrollbar-thumb {
    background: #8c795d;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #776750;
  }

  * {
    scrollbar-width: inherit;
    scrollbar-color: #776750 #181818;
  }
}
